.hero{

    position:absolute;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:20;

    padding:40px;
    box-sizing:border-box;

    pointer-events:none;

}

/*=====================================
    TARJETA
======================================*/

.hero-button{

    margin-top: 80px;   

    width:260px;
    height:68px;

    border-radius:16px;

    border:1px solid rgba(255,255,255,.35);

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(10px);

    color:white;

    font-size:20px;

    letter-spacing:2px;

    cursor:pointer;

    transition:.35s;

    pointer-events:auto;

}

.hero-card::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:30px;

    background:
        linear-gradient(
            135deg,
            rgba(255,255,255,.18),
            transparent 45%
        );

    pointer-events:none;

}

/*=====================================*/

.hero-engine{

    display:block;

    margin-bottom:18px;

    color:#7fd6ff;

    letter-spacing:5px;

    font-size:14px;

    font-weight:500;

    text-transform:uppercase;

}

.hero-logo{

    margin:0;

    font-family:"Belleza",sans-serif;

    font-size:90px;

    font-weight:400;

    letter-spacing:10px;

    color:white;

}

.hero-description{

    margin:25px auto 60px;

    max-width:600px;

    font-size:24px;

    line-height:1.5;

    color:rgba(255,255,255,.92);

}

/*=====================================
BOTÓN EXPLORAR
======================================*/

.hero-button{

    position:absolute;

    left:50%;

    bottom:90px;      /* ← Cambia este valor para subir o bajar el botón */

    transform:translateX(-50%);

    width:260px;

    height:68px;

    border-radius:16px;

    border:1px solid rgba(255,255,255,.35);

    background:rgba(255,255,255,.10);

    backdrop-filter:blur(10px);

    color:white;

    font-size:20px;

    letter-spacing:2px;

    cursor:pointer;

    transition:.35s;

    pointer-events:auto;

}

.hero-button:hover{

    background:white;

    color:#101828;

    transform:translateX(-50%) translateY(-3px);

    box-shadow:
        0 15px 35px rgba(255,255,255,.18);

}

/* =====================================
   HERO RESPONSIVE
===================================== */

@media (max-width:900px){

.hero{

    padding:20px;

}

.hero-card{

    width:100%;

    height:100%;

}

.hero-button{

    width:280px;

    height:58px;

    bottom:60px;

    font-size:18px;

}

}

@media (max-width:480px){

.hero{

    padding:15px;

}

.hero-button{

    width:90%;

    max-width:280px;

    height:54px;

    bottom:40px;

    font-size:16px;

}

}